@charset "UTF-8";

* {
  margin:0; padding:0;
}

body {
	display: flex;
	flex-direction:column;
}

div#wrapper {
	width:960px;
	height:auto;
	margin:0 auto 0 auto;
}

header{
	margin-top:20px;
	width: 960px;
    height: 70px;
    background-color: black;
    color: #ffffff;
    margin-bottom:10px;
    margin-right: auto;
    margin-left:auto;
}

header h1 {
	font-size:30px;
	text-align: center;
	padding-top:10px;

}

h3 {
  position: relative;
  padding: 0.25em 0;
  margin-bottom:15px;
}
h3:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}

nav {
	float:left;
	margin-top:10px;
}

nav ul {
  list-style: none;
  float:left;
}

nav ul li {
	float:left;
	margin-left:20px;
}

.content{
    width:960px:
    background-color: #ffffff;
    text-align: center;
    margin-top:30px;
}

.box{
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin-top:20px;
    margin-bottom:20px;
}

.box2 {
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin-top:20px;
    margin-right:100px;
    margin-bottom:20px;
}

.localNavigation{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #e6e6e6;
    color: #000000;
}

div#left {
	width:220px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:10px;
}

div#right {
	width:700px;
	float:left;
	margin-top:50px;
	margin-left:20px;
	font-size:15px;
	margin-bottom:20px;
}

div.dramaInfo {
	font-size:13px;
}

main{
    min-height: 100vh;
    display: flex;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cb{
  clear: both;
}

.form2-input {
  box-sizing: border-box;
  width: 300px;
  height: 30px;
  padding: 0 20px 0 34px;
  margin: 10px 10px;
  font-size: 1em;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
   float:left;
}

.form2-input:focus {
  border: 1px solid #00b5ad;
}

.form2-button {
  top: 0;
  left: 2px;
  box-sizing: content-box;
  width: 30px;
  height: 40px;
  padding: 0;
  vertical-align: vertical-align;
  pointer-events: none;
  background: inherit;
  border: 0;
  opacity: 0.54;
}

.reviewTop{
    width: 100%;
    height: 30px;
    background-color: #e6e6e6;
    color: #000000;
}

.reviewTitle {
	margin-top:5px;
	margin-left:10px;
	float:left;
	font-size:15px;
}

div#userNameHead {
	margin-top:5px;
	margin-left:30px;
	float:left;
	font-size:13px;
	font-weight:bold;
}

.userName {
	margin-top:5px;
	margin-left:10px;
	float:left;
	font-size:13px;
}

.evaluation {
	margin-left:10px;
	float:left;
}

.reviewText {
	padding:12px 12px 12px 12px;
	font-size:14px;
}

.star-rating2 {
  float:left;
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 20px;
  margin-left:20px;

}
.star-rating-front2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back2 {
  color: #ccc;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em 1.0em;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

button2 {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.1em 0.6em;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  margin-top:2px;
}

.post {
  font-weight: bold;
  color: #fff;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
  margin-left:20px;
}

@media screen and (max-width: 480px) {
  .post {
    display: none;
  }
}

.post2{
  font-weight: bold;
  color: #fff;
  background: #ff8080;
  border: 1px #ff8080 solid;
  border-radius: 3px;
  margin-left:10px;
}

.star-rating {
  float:left;
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
  margin-left:20px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
