@charset "UTF-8";

* {
  margin:0; padding:0;
}
body {
	display: flex;
	flex-direction:column;
}

header{
	margin-top:20px;
	width: 960px;
    height: 70px;
    background-color: black;
    color: #ffffff;
    margin-bottom:10px;
    margin-right: auto;
    margin-left:auto;
}

header h1 {
	font-size:30px;
	text-align: center;
    padding-top:10px;
}

main{
    min-height: 100vh;
    display: flex;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    flex: 1;
    background-color: #ffffff;
    text-align: center;
    margin-left: 10px;
}


.msr_text_01 {
  padding-bottom: 20px;
  width: 300px;
}
.msr_text_01 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_text_01 input[type=text] {
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 1px #E1E1E1 inset;
  -moz-box-shadow: 1px 1px 1px 1px #E1E1E1 inset;
  -webkit-box-shadow: 1px 1px 1px 1px #E1E1E1 inset;
  font-size: 13px;
  height: 25px;
  padding-left: 8px;
  width: 300px;
}

.msr_textarea_01 {
  padding-bottom: 10px;
  width: 460px;
}
.msr_textarea_01 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_textarea_01 textarea {
  border: 1px solid #AAAAAA;
  box-shadow: 1px 1px 1px 1px #E1E1E1 inset;
  -moz-box-shadow: 1px 1px 1px 1px #E1E1E1 inset;
  -webkit-box-shadow: 1px 1px 1px 1px #E1E1E1 inset;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  height: 210px;
  width: 460px;
  padding: 8px;
}

.msr_sendbtn_01{
  margin:0 0 10px;
}
.msr_sendbtn_01 input[type=submit] {
  background: linear-gradient(#FEFEFE, #F3F5F5);
  background: -o-linear-gradient(#FEFEFE, #F3F5F5);
  background: -ms-linear-gradient(#FEFEFE, #F3F5F5);
  background: -moz-linear-gradient(#FEFEFE, #F3F5F5);
  background: -webkit-linear-gradient(#FEFEFE, #F3F5F5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #F3F5F5), color-stop(0.00, #FEFEFE));
  background: url(/stylerecipe_img/arrow_blue.png) no-repeat;
  background-position: 10px;
  border: 1px solid #AAAAAA;
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  height: 30px;
  width: 140px;
}
.msr_sendbtn_01 input[type=submit]:hover {
  opacity: 0.6;
}
.msr_sendbtn_01 input[disabled=disabled] {
  background: url(/stylerecipe_img/arrow_gray.png) no-repeat;
  background-position: 10px;
  color: #999999;
  cursor: default;
}
.msr_sendbtn_01 input[disabled=disabled]:hover {
  opacity: 1;
}